*{
    font-family: Arial;
    margin: 0;
}
.div-padding{
    padding-left: 50px;
}
/** HEADER **/
.header-section{
    background-color: black;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    color: white;
    
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}
.header-right{
    display: flex;
    justify-content: space-evenly;
    
}
p{
    font-size: 12px;
    color: white;
}


.p-second{
    padding-top: 5px;
}

.header-design{
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.location-icon{
    background-color: rgb(140, 140, 243);
    width: 1rem;
}
.header-locaion{
    background-color: black;
}
.header-location-button{
    background-color: black;
    border: none;
    border-top-style: none;
    display: flex;
    
}

.header-location-arrow{
    width: 23%;
    background-color: white;
    margin-left: 2px;
    padding: left 0;
    
}
.header-warranty{
    display: flex;
    align-items: center;
}
.warranty{
    padding-left: 4px;
    
}

/** HEADER 2**/

.header-panel{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;

}
.header-panel-input{
    width: 250px;
    border: none;
    

}
.input{
    background-color: #a39c9cf1;
    border: none;
    border-top: none;
    box-shadow: none;
    
}


/** Body**/
.body{
    margin-left: 12%;
    margin-right: 12%;
    
    
    
}
/** FIRST SECTION**/
.section-offer{
    margin-top: 20px;
    background-image: url("image/HDB-WEB-EN-MEGAOFFER-CROSS-QAT-10JULY25.webp");
    background-size: cover;

    height: 600px;
    

}
/** SECTION SECTION **/
.box1-image{
    height: 600px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    width: 60%;
    background-color: blueviolet;
    
}
.box2-image{
    height: 600px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    width: 40%;
    display: flex;
    align-items: flex-end;



    
}
.box-contend{

    margin-left: 1rem;
    margin-right: 1rem;
    background-color: red;
    flex: 1;
}
.section-shoping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;

    

    
}
.shop-button{
    background-color: white;
    color: black;
    border: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 70%;
    margin-bottom: 20px;
}

.shope-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 300px;
    

    
}
.small-box{
    height: 200px;
    width: 300px;
    background-size: cover;
    margin-bottom: 10px;

    
}
.content{
    
    margin: 10px;
    }

.para{
    color: black;
    font-size: 20px;
}
.cartoon-image{
    height: 200px;
    width: 215px;
    border-radius: 10px;
    margin-left: 20px;
}
.shope-image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    

}
.image2-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background-size: cover;

}

.image2{
    height: 400px;
    width: 675px;
    margin: 10px;
}
.image-best{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;


}
.cartoon-image1{
    width: 220px;
    height: 200px;
    margin-right: 10px;

}
footer{
    margin-left: 12%;
    margin-right: 12%;
}

ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
}

.panel{
    display: flex;
    justify-content: center;
    height: 300px;
    border-top: 0.5px solid rgb(78, 77, 77);
    margin-top: 100px;
    padding-top: 50px;
    
    
    
}
.panel-body{
    display: flex;
    align-items: center;
   
    
    
    

}
.panel-body a{
    display: block;
}
.foot-panel{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 50px;
    align-items: center;
    border-top: 0.5px solid rgb(78, 77, 77);
    
    

    
    

}
